<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;font-weight: bold" href="/newsfeedpage">Social Network For Travellers</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown">
                        <a href="/newsfeedpage" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <span><img src="images/down-arrow.png" alt="" /></span></a>
                        <ul class="dropdown-menu newsfeed-home">
                            <li><a href="/edit-profile-basic-page">About Me</a></li>
                            <li><a href="/mytimelinepage">My Timeline</a></li>
                            <li><a href="/myfollowers">My Followers</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notification <span><img src="images/down-arrow.png" alt="" /></span></a>
                        <ul class="dropdown-menu login">
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="timeline-about.html">Timeline About</a></li>

                        </ul>
                    </li>

                    <li class="dropdown"><a href="#">Contact</a></li>
                </ul>
                <form class="navbar-form navbar-right hidden-sm" action = "/getSearchPage" method="GET">
                    <div class="form-group">
                        <input type="text" ng-model = "search_text1" id="search_text" name = "search_text"
                            class="form-control" placeholder="Search friends"/>
                            <button ng-show="search_text1.length" type="submit"
                                Style = "background: transparent;border: none !important;font-size:-2;">
                                <i class="icon ion-android-search"></i>
                            </button>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>